#img-preview {
  display: none;
  width: 155px;
  border: 2px dashed #333;
  margin-bottom: 20px;
}
#img-preview img {
  width: 100%;
  height: auto;
  display: block;
}

.box-shadow{
  background-color: #745760 ;
}

.btn-custom-hover:hover {
  background-color: #4a90e2; 
  color: #fff; 
  border-color: #4a90e2; 
}

.box-bg {
  background-color: #757575;
  /* background: gray; */
}